body
{
    background-color : #000;
    color            : #000;
    font-family      : 'Lato', sans-serif;
}

.container
{
    margin-left  : auto;
    margin-right : auto;
}

.box
{
    border           : 6px solid #fff;
    width            : 350px;
    min-height       : 350px;
    margin-top       : 100px;
    margin-bottom    : 100px;
    margin-left      : auto;
    margin-right     : auto;
    background-color : #00ccff;
}

.title
{
    text-align    : center;
    margin-bottom : 10px;
    margin-top    : 10px;
    font-size     : 20px;
}

.pattern
{
    font-size  : 22px;
    text-align : center;
}

input[type=text]
{
    border-radius : 10px;
    padding       : 2px 5px;
    border        : none;
}

input[type=text]:focus
{
    border  : none;
    outline : none;
    padding : 2px 5px;
}

.label
{
    text-align : center;
}

.inputSpace
{
    text-align : center;
}

.btn 
{
    border-radius : 25px;
}
.clearAll
{
    border     : none;
    position   : relative;
    bottom     : 10px;
    left       : 116px;
    margin-top : 10px;
}

.clearAll:hover
{
    background-color : #ff0033;
    border           : none;
    outline          : none;
}

.clearAll:active
{
    outline : none;
    border  : none;
}